# Copy and rename this file to .env if needed!
ARGO_WORKFLOWS_SERVER="http://argo-workflows-server.argo.svc.cluster.local:2746"
POSTGRES_HOST = "pixie-db-svc.pixie.svc.cluster.local" # NOTE: this needs to be the service_name.namespace_name.svc.cluster.local!
POSTGRES_USER = "user"
POSTGRES_PASSWORD = "password"
POSTGRES_DB = "pixie_db"
POSTGRES_PORT = "5432"
