apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${app_name}
  namespace: ${namespace_name}
  labels:
    app: ${app_name}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${app_name}
  template:
    metadata:
      labels:
        app: ${app_name}
      annotations:
        kubectl.kubernetes.io/restartedAt: ${rollout_trigger}
    spec:
%{ if is_local_deployment == false }
      imagePullSecrets:
        - name: ${image_pull_secret_name}
%{ endif }
      containers:
        - name: ${app_name}
          image: ${image_name}:${image_tag}
%{ if is_local_deployment == true }
          imagePullPolicy: Never
%{ else }
          imagePullPolicy: Always
%{ endif }
          ports:
            - containerPort: 8000
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 2
            periodSeconds: 5
          resources:
            requests:
              cpu: "128m"
              memory: "256Mi"
            limits:
              cpu: "256m"
              memory: "1Gi"
