# Defines the Kubernetes Service to expose the Deployment.
# Service: stable virtual IP and DNS name for a set of Pods. 
# Clients talk to the Service. 
# The Service forwards to the right Pods.
apiVersion: v1
kind: Service
metadata:
  # The service name is managed by Terraform's templatefile function.
  name: ${app_name}-svc
  namespace: ${namespace_name} 
  labels:
    app: ${app_name}
spec:
  # The service type is now ClusterIP for both local and cloud.
  type: ClusterIP  
  # The selector targets pods with the matching label.
  selector:
    app: ${app_name}
  ports:
  - port: 80 # The Service port the Ingress Controller will target
    targetPort: 8000 # The container port to forward traffic to
    protocol: TCP    


# %{ if is_local_deployment == true }
#   # type: ClusterIP is only accessable within the cluster
#   type: NodePort
#   ports:
#   - port: 80 # The port exposed by the Service
#     targetPort: 8000 # The container port to forward traffic to
#     protocol: TCP
#     nodePort: 30080 # Node port which we use externally in requests to access the service!
# %{ endif }
# %{ if is_local_deployment == false }
#   type: LoadBalancer
#   ports:
#   - port: 80
#     targetPort: 8000
#     protocol: TCP
# %{ endif }
