# Deprecated: not used anymore, but might serve as inspiration when using ingress instead of gateway API,
# although gateway API is preferred.
controller:
  hostPort:
    enabled: true
  terminationGracePeriodSeconds: 0
  service:
    type: "NodePort"
  watchIngressWithoutClass: true
  nodeSelector:
    ingress-ready: "true"
  tolerations:
    - effect: "NoSchedule"
      key: "node-role.kubernetes.io/master"
      operator: "Equal"
    - effect: "NoSchedule"
      key: "node-role.kubernetes.io/control-plane"
      operator: "Equal"
  publishService:
    enabled: false
  extraArgs:
    publish-status-address: "localhost"
