kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
  - role: worker
    extraPortMappings:
      - containerPort: 31007
        hostPort: ${ingress_port}
        protocol: TCP
    extraMounts:
      - hostPath: /dev/null
        containerPath: /var/run/nvidia-container-devices/0
      # Mount the entire /usr/lib/wsl directory which contains the driver libraries
      - hostPath: /usr/lib/wsl
        containerPath: /usr/lib/wsl
        readOnly: true
      # Mount /dev/dxg to give access to the GPU devices
      - hostPath: /dev/dxg
        containerPath: /dev/dxg
        readOnly: false
