apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ${app_name}
  namespace: ${namespace_name}
  labels:
    app: ${app_name}
spec:
  serviceName: ${app_name}
  replicas: ${replica_count}
  revisionHistoryLimit: 2
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      partition: 0 # only pods with ordinal >= 0 will be updated (thus all).
  selector:
    matchLabels: # so service.yaml matches this statefulset.yaml
      app: ${app_name}
  template:
    metadata:
      labels:
        app: ${app_name}
        annotations:
          kubectl.kubernetes.io/restartedAt: ${rollout_trigger}
    spec:
%{ if is_local_deployment == false }
      imagePullSecrets:
        - name: ${image_pull_secret_name}
%{ endif }
      containers:
      - name: ${app_name}
        image: ${image_name}:${image_tag}
        volumeMounts:
        - name: data
          mountPath: ${volume_mount_path} # /var/lib/postgresql/data
  volumeClaimTemplates:  # Creates a PVC for each replica
  - metadata:
      name: data
    spec:
      storageClassName: fast-storage # <-- References the new StorageClass
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 10Gi