apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ${app_name}
  namespace: ${namespace_name}
  labels:
    app: ${app_name}
spec:
  serviceName: ${app_name}
  replicas: ${replica_count}
  revisionHistoryLimit: 2
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      partition: 0 # only pods with ordinal >= 0 will be updated (thus all).
  selector:
    matchLabels: # so service.yaml matches this statefulset.yaml
      app: ${app_name}
  template:
    metadata:
      labels:
        app: ${app_name}
      annotations:
        kubectl.kubernetes.io/restartedAt: ${rollout_trigger}
    spec:
%{ if is_local_deployment == false }
      imagePullSecrets:
        - name: ${image_pull_secret_name}
%{ endif }
      containers:
        - name: ${app_name}
          image: ${image_name}:${image_tag}
%{ if length(app_env) > 0 }
        env:
%{ for key, value in app_env ~}
          - name: ${key}
            value: "${value}"
%{ endfor ~}
%{ endif }
        ports:
          - containerPort: ${target_port}
        # Resource requests and limits
        resources:
          requests:
            cpu: ${request_cpu}
            memory: ${request_memory}
          limits:
            cpu: ${limit_cpu}
            memory: ${limit_memory}

        # Conditional Probes (Only enabled if 'has_probing' is true)
%{ if has_probing }
%{ endif }

        # Dynamically injects all defined volume mounts
        volumeMounts:
%{ for name, volume in data_volumes }
        - name: ${volume}
          mountPath: ${volume.mount_path}
%{ endfor }

  # Creates a PVC for each replica, based on the defined data_volumes map
  volumeClaimTemplates:
  %{ for name, volume in data_volumes }
  - metadata:
      name: ${volume.name}
    spec:
      storageClassName: ${volume.storage_class_name}
      accessModes: ["${volume.access_mode}"] # e.g., ReadWriteOnce
      resources:
        requests:
          storage: ${volume.storage_request} # e.g., 10Gi
  %{ endfor }
