# Defines the Kubernetes Service to expose the Deployment.
apiVersion: v1
kind: Service
metadata:
  # The service name is managed by Terraform's templatefile function.
  name: ${app_name}-svc
  namespace: default 
  labels:
    app: ${app_name}
spec:
  # The selector targets pods with the matching label.
  selector:
    app: ${app_name}
  ports:
  - port: 80 # The port exposed by the Service
    targetPort: 8000 # The container port to forward traffic to
    protocol: TCP
  type: NodePort
